.Moliya{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.Moliya p{
    width: 45%;
    font-size: 12px;
}
.Moliya .pName{
    width: 100%;
    font-size: 13px;
    border: 2px solid transparent;

}